{% if cart.item_count > 0 %}
    <div class="cart__info__line-items js-cart-items">
        {% for item in cart.items %}
            <div class="cart__line-item">
                {{ item.image | img_url: 'medium' | img_tag }}
                <div class="cart__line-item__content">
                    <p class="cart__line-item__title h4">{{ item.title }}</p> {% if item.quantity > 1 %}<span class="cart__line-item__title--count">x {{ item.quantity }}</span>{% endif %}
                </div>

                <div class="cart__line-item__quantity">
                    {% if item.variant.inventory_quantity > 1 %}
                        <div class="cart__line-item__quantity--picker">
                            <a href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}" class="quantity-btn minus">-</a>
                            <div class="quantity-btn value">{{ item.quantity }}</div>
                            <a href="/cart/change?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}" class="quantity-btn plus">+</a>
                        </div>
                    {% endif %}
                    
                    <a class="cart__line-item__remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Fjern vare</a>
                </div>

                <div class="cart__line-item__price">
                    {{ item.final_line_price | money_without_trailing_zeros }}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Din indkøbskurv er tom</p>
{% endif %}