{% assign p = product %}

<div class="product-card {{ class }}">
    {% if p.compare_at_price > p.selected_or_first_available_variant.price %}
        <div class="product-card__label discount">
            UDSALG
        </div>
    {% endif %}

    {% if product.available == false %}
        <div class="product-card__label sold-out">
            UDSOLGT
        </div>
    {% endif %}

    <a href="{{ p.url | within: collection }}">
        <div class="product-card__image-wrapper">
            <img class="product-card__image one" src="{{ p.featured_image | img_url: 'master' }}" alt="{{ p.featured_image.alt }}">
            {% if p.images.size > 1 %}
                {% for image in p.images %}
                    {% if forloop.index == 2 %}
                        <img class="product-card__image two" src="{{ image | img_url: 'master' }}">
                    {% endif %}
                {% endfor %}
            {% else %}
                <img class="product-card__image two" src="{{ p.featured_image | img_url: 'master' }}" alt="{{ p.featured_image.alt }}">
            {% endif %}
        </div>
    </a>
    <div class="product-card__info">
        <h3 class="product-card__title">
            <a href="{{ p.url }}">{{ p.title | truncate: 20, '...' }}</a>
        </h3>
        <div class="product-card__prices">
            <span class="product-card__price">Fra {{ p.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
            {% if p.compare_at_price > p.selected_or_first_available_variant.price %}
                <span class="product-card__compare-at-price">{{ p.compare_at_price | money_without_trailing_zeros }}</span>
            {% endif %}
        </div>
    </div>
</div>