<div class="cart">
    <div class="cart__header container">
        <h1>Indkøbskurv <span class="cart__count" data-cart-count="{{ cart.item_count }}">({{ cart.item_count }})</span></h1>
    </div>
    
    <div class="cart__inner container">
        <div class="cart__info">
            {% include 'line-items' %}

            <div class="cart__info__payment"></div>
        </div>

        <div class="cart__total">
        <form action="/cart" method="post" novalidate>
            <div class="cart__total__header">
                <h2>Subtotal</h2>
                <p>{{ cart.total_price | money_without_trailing_zeros }}</p>
            </div>

            <div class="cart__total__delivery">
                <h4>Fragt</h4>
                <p>30 kr</p>
            </div>

            <div class="cart__total__total">
                <h2>Total</h2>
                {% assign delivery = 3000 %}
                {% assign total = cart.total_price | plus: delivery %}
                <p>{{ total | money_without_trailing_zeros }}</p>
            </div>

            <div class="cart__total__footer">
                <input id="terms" type="checkbox">
                <label for="terms">Acceptér handelsbetingelser</label>
                <input class="cart__total__footer__qta" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                <button class="btn" type="submit" name="checkout">Gå til checkout</button>
            </div>
        </form>
        </div>
    </div>
</div>