<div class="cart">
    <div class="cart__header container">
        <h1>Indkøbskurv <span class="cart__count" data-cart-count="{{ cart.item_count }}">({{ cart.item_count }})</span></h1>
    </div>
     
    <div class="cart__inner container">
        <div class="cart__info">
            {% include 'line-items' %}

            <div class="cart__payment">
                <h3>Vi tager imod</h3>
                <div class="cart__payment__grid">
                    <div class="cart__payment__grid-item">
                        {% include 'icons' with 'visa' %}
                    </div>
                    <div class="cart__payment__grid-item">
                        {% include 'icons' with 'mastercard' %}
                    </div>
                    <div class="cart__payment__grid-item">
                        {% include 'icons' with 'apple-pay' %}
                    </div>
                    <div class="cart__payment__grid-item">
                        {% include 'icons' with 'amex' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="cart__total"> 
            <form action="/cart" method="post" novalidate data-cart-form>
                <div class="cart__total__header">
                    <h2>Subtotal</h2>
                    <p>{{ cart.total_price | money_without_trailing_zeros }}</p>
                </div>

                <div class="cart__total__delivery">
                    {%- assign shipping_price = settings.shipping_price | times: 100 -%}
                    {%- assign free_shipping_text = settings.free_shipping_text -%}
                    
                    {%- assign has_free_shipping = false -%}
                    {%- if shipping_price == 0 -%}
                        {%- assign has_free_shipping = true -%}
                    {%- endif -%}

                    {%- capture shipping_output -%}
                        {%- if has_free_shipping -%}
                            {{ free_shipping_text }}
                        {%- else -%}
                            {{ shipping_price | money_without_trailing_zeros }}
                        {%- endif -%}
                    {%- endcapture -%}

                    <h4>Fragt</h4>
                    <p>{{ shipping_output }}</p>
                </div>

                <div class="cart__total__total">
                    <h2>Total</h2>
                    {%- capture total -%}
                        {%- if has_free_shipping -%}
                            {{ cart.total_price | money_without_trailing_zeros }}
                        {%- else -%}
                            {{cart.total_price | plus: shipping_price | money_without_trailing_zeros  }}
                        {%- endif -%}
                    {%- endcapture -%}
                    
                    <p>{{ total }}</p>
                </div>

                <div class="cart__total__footer">
                    <div class="cart__total__footer__terms">
                        <input type="checkbox" id="terms" data-terms-input>
                        <label for="terms">Jeg accepterer <a href="/pages/handelsbetingelser" data-terms-label>handelsbetingelserne</a></label>
                    </div>
                    <input class="cart__total__footer__qta" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0"> 
                    <button class="btn btn--black" type="submit" name="checkout" data-cart-submit>Gå til checkout</button>
                </div>
            </form>

            <div class="cart__total__notes">
                <label for="CartNote">Tilføj en note til din ordre</label>
                <textarea name="note" id="CartNote">{{ cart.note }}</textarea>
            </div>
        </div>
    </div>
</div>

<div class="cart-drawer__line-items js-cart-drawer-html" style="display:none;">
    {% if cart.item_count > 0 %}
        {% for item in cart.items %}
            <div class="cart-drawer__line-items--item">
                <a class="cart-drawer__line-items--item__link" href="{{ item.url }}"></a>

                <div class="cart-drawer__line-items--item__close">
                    <a class="cart__line-item__remove js-line-item-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                        {% include 'icons' with 'close' %}
                    </a>
                </div>

                <div class="cart-drawer__line-items--item__image">
                    {{ item.image | img_url: '100x' | img_tag }}
                </div>

                <div class="cart-drawer__line-items--item__text">
                    <p class="title">{{ item.title }}</p>
                    <p class="price">{{ item.price | money_without_trailing_zeros }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p style="display:none;">Din indkøbskurv er tom</p>
    {% endif %}
</div>