<div class="cart-drawer js-cart-drawer"></div>
<div class="cart-drawer__inner js-cart-drawer-inner">
    <div class="cart-drawer__header">
        <h4>Indkøbskurv <span class="cart-drawer__item-count">({{ cart.item_count }})</span></h4>
        <span class="cart-drawer__close js-cart-drawer-close">{% include 'icons' with 'close' %}</span>
    </div>

    
        <div class="cart-drawer__line-items js-cart-drawer-line-items">
            {% if cart.item_count > 0 %}
                {% for item in cart.items %}
                    <div class="cart-drawer__line-items--item">
                        <a class="cart-drawer__line-items--item__link" href="{{ item.url }}"></a>

                        <div class="cart-drawer__line-items--item__close">
                            <a class="cart__line-item__remove js-line-item-remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{% include 'icons' with 'close' %}</a>
                        </div>

                        <div class="cart-drawer__line-items--item__image">
                            {{ item.image | img_url: '100x' | img_tag }}
                        </div>

                        <div class="cart-drawer__line-items--item__text">
                            <p class="title">{{ item.title }}</p>
                            <p class="price">{{ item.price | money_without_trailing_zeros }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Din indkøbskurv er tom</p>
            {% endif %}
        </div>
    

    <div class="cart-drawer__footer">
        <div class="cart-drawer__footer__subtotal">
            <p>Subtotal</p>
            <p class="cart-subtotal">{{ cart.total_price | money_without_trailing_zeros }}</p>
        </div>

        <div class="cart-drawer__footer__delivery">
            {%- assign shipping_price = settings.shipping_price | times: 100 -%}
            {%- assign free_shipping_text = settings.free_shipping_text -%}
            
            {%- assign has_free_shipping = false -%}
            {%- if shipping_price == 0 -%}
                {%- assign has_free_shipping = true -%}
            {%- endif -%}

            {%- capture shipping_output -%}
                {%- if has_free_shipping -%}
                    {{ free_shipping_text }}
                {%- else -%}
                    {{ shipping_price | money_without_trailing_zeros }}
                {%- endif -%}
            {%- endcapture -%}

            <p>Fragt</p>
            <p>{{ shipping_output }}</p>
        </div>

        <div class="cart-drawer__footer__total">
            <p>Total</p>

            {%- capture total -%}
                {%- if has_free_shipping -%}
                    {{ cart.total_price | money_without_trailing_zeros }}
                {%- else -%}
                    {{cart.total_price | plus: shipping_price | money_without_trailing_zeros  }}
                {%- endif -%}
            {%- endcapture -%}

            <p class="cart-total">{{ total }}</p>
        </div>

        <div class="cart-drawer__footer__buttons">
            <a href="/cart" class="btn">Gå til kurven</a>
        </div>
    </div>
</div>