{% assign s = section.settings %}

<div class="featured-theme__inner container">
    <div class="featured-theme__header">
        <h2 class="featured-theme__title">{{ s.title }}</h2>
        <a href="/pages/alle-temaer" class="btn">Se alle</a>
    </div>

    {% for b in section.blocks %}
    {% assign bs = b.settings %}
        <div class="featured-theme__row">
            <div class="featured-theme__col js-theme-col">
                <div class="featured-theme__info-wrapper">
                    <h2 class="featured-theme__cat__title">{{ bs.c1_title }}</h2>
                    <div class="featured-theme__btn">
                        <a href="{{ bs.c1_link }}" class="btn btn--white">{{ bs.c1_link_text }}</a>
                    </div>
                </div>
                {{ bs.c1_image | img_url: 'master' | img_tag }}
                <div class="overlay"></div>
            </div>

            <div class="featured-theme__col js-theme-col">
                <div class="featured-theme__info-wrapper">
                    <h2 class="featured-theme__cat__title">{{ bs.c2_title }}</h2>
                    <div class="featured-theme__btn">
                        <a href="{{ bs.c2_link }}" class="btn btn--white">{{ bs.c2_link_text }}</a>
                    </div>
                </div>
                {{ bs.c2_image | img_url: 'master' | img_tag }}
                <div class="overlay"></div>
            </div>

            <div class="featured-theme__col js-theme-col">
                <div class="featured-theme__info-wrapper">
                    <h2 class="featured-theme__cat__title">{{ bs.c3_title }}</h2>
                    <div class="featured-theme__btn">
                        <a href="{{ bs.c3_link }}" class="btn btn--white">{{ bs.c3_link_text }}</a>
                    </div>
                </div>
                {{ bs.c3_image | img_url: 'master' | img_tag }}
                <div class="overlay"></div>
            </div>
        </div>
    {% endfor %}
</div>

{% schema %}
    {
        "name": "Featured theme",
        "class": "featured-theme",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Overskrift",
                "default": "Temaer"
            }
        ],
        "blocks": [
            {
                "type": "theme-row",
                "name": "theme row",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "c1_image",
                        "label": "Tema 1 baggrundsbillede"
                    },
                    {
                        "type": "text",
                        "id": "c1_title",
                        "label": "Titel på tema 1"
                    },
                    {
                        "type": "text",
                        "id": "c1_link_text",
                        "label": "Tekst på knap til tema 1",
                        "default": "Shop nu"
                    },
                    {
                        "type": "url",
                        "id": "c1_link",
                        "label": "Link til tema 1"
                    },
                    {
                        "type": "image_picker",
                        "id": "c2_image",
                        "label": "Tema 2 baggrundsbillede"
                    },
                    {
                        "type": "text",
                        "id": "c2_title",
                        "label": "Titel på tema 2"
                    },
                    {
                        "type": "text",
                        "id": "c2_link_text",
                        "label": "Tekst på knap til tema 2",
                        "default": "Shop nu"
                    },
                    {
                        "type": "url",
                        "id": "c2_link",
                        "label": "Link til tema 2"
                    },
                    {
                        "type": "image_picker",
                        "id": "c3_image",
                        "label": "Tema 3 baggrundsbillede"
                    },
                    {
                        "type": "text",
                        "id": "c3_title",
                        "label": "Titel på tema 3"
                    },
                    {
                        "type": "text",
                        "id": "c3_link_text",
                        "label": "Tekst på knap til tema 3",
                        "default": "Shop nu"
                    },
                    {
                        "type": "url",
                        "id": "c3_link",
                        "label": "Link til tema 3"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Featured theme",
                "category": "featured theme"
            }
        ]
    }
{% endschema %}