{% assign s = section.settings %}

<div class="featured-category__inner container">
    <div class="featured-category__header">
        <h2 class="featured-category__title">{{ s.title }}</h2>
        <a href="/pages/all-rooms" class="btn">Se alle</a>
    </div>

<div class="featured-category__row">
    {% for b in section.blocks %}
    {% assign bs = b.settings %}
        <div class="featured-category__col js-feat-col">
            <div class="featured-category__info-wrapper">
                <h2 class="featured-category__cat__title">{{ bs.title }}</h2>
                <div class="featured-category__btn">
                    <a href="{{ bs.link }}" class="btn btn--white">{{ bs.link_text }}</a>
                </div>
            </div>
            {{ bs.image | img_url: 'master' | img_tag }}
            <div class="overlay"></div>
        </div>
    {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name": "Featured category",
        "class": "featured-category",
        "max_blocks": 6,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Overskrift",
                "default": "Kategorier"
            }
        ],
        "blocks": [
            {
                "type": "category",
                "name": "Category",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Kategori baggrundsbillede"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Titel på kategori"
                    },
                    {
                        "type": "text",
                        "id": "link_text",
                        "label": "Tekst på knap til kategori",
                        "default": "Shop nu"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Link til kategori"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Featured category",
                "category": "featured category"
            }
        ]
    }
{% endschema %}