<header class="site-header">
    <div class="site-header__inner container">
        <div class="site-header__logo__wrapper">
            {% comment %}<a href="/">{{ 'logo.png' | asset_img_url: 'medium' | img_tag: 'logo', 'site-header__logo' }}</a>{% endcomment %}
            <a href="/" class="logo">RE-ART</a>
        </div>

        <nav class="site-header__navigation">
            {% include 'linklist' with class: 'site-header__navigation' %}
        </nav>

        <div class="site-header__icons">
            <div class="site-header__search">{{ 'search.svg' | asset_url | img_tag: 'search', 'search-icon js-search-icon' }}</div>
            <div class="site-header__cart js-cart-icon"><a href="/cart">{{ 'cart.svg' | asset_url | img_tag: 'cart', 'cart-icon' }}</a> <span class="site-header__cart-count js-cart-count" data-cart-count="{{ cart.item_count }}">{{ cart.item_count }}</span></div>
            <div class="site-header__burger js-burger">
                <div class="site-header__burger__line"></div>
                <div class="site-header__burger__line"></div>
                <div class="site-header__burger__line"></div>
            </div>
        </div>
    </div>
</header>
<div class="site-header__search__wrapper js-search-form">
    <form action="/search" method="get" class="site-header__search__form" role="search">
        <input type="search" name="q" placeholder="Søg blandt plakater" class="site-header__search__input js-search-input">
    </form>
</div>

{% schema %}
    {
        "name": "Header",
        "class": "site-header__wrapper",
        "settings": [
            {
                "type": "link_list",
                "id": "nav",
                "label": "Vælg navigationsmenu"
            }
        ]
    }
{% endschema %}