{%- assign s = section.settings -%}

<section class="hero">
    <div class="hero__slider" data-speed="{{ s.speed }}">
    {% for b in section.blocks %}
    {% assign bs = b.settings %}
        <div class="hero__inner" {% if bs.center_text %}style="align-items: center;"{% endif %}>
            <div class="hero__text-wrapper">
                <h1 class="hero__title" style="color:{{ bs.text_color }};">{{ bs.headline }}</h1>
                <p class="hero__text" style="color:{{ bs.text_color }};">{{ bs.text }}</p>
                {% if bs.btn_text != blank or bs.btn_link != blank %}
                    <span class="hero__btn"><a class="btn btn--transparent hero__btn" href="{{ bs.btn_link }}">{{ bs.btn_text }}</a></span>
                {% endif %}
            </div>
            
            <div class="hero__overlay"></div>
            {{ bs.image | img_url: 'master' | img_tag: 'Hero', 'hero__image' }}
        </div>
    {% endfor %}
    </div>

    {% if section.blocks.size > 1 %}
        <div class="hero__slider__controls">
            <div class="prev">{{ 'arrow.svg' | asset_url | img_tag }}</div>
            <div class="next">{{ 'arrow.svg' | asset_url | img_tag }}</div>
        </div>
    {% endif %}

    <div class="hero__scroll"><a href="#featured-collection">Scroll</a></div>
</section>

{% schema %}
    {
        "name": "Hero",
        "class": "hero__wrapper",
        "settings": [
            {
                "type": "header",
                "content": "Slider indstillinger",
                "info": "Her kan du ændre på forskellige indstillinger i hero slideren"
            },
            {
                "type": "range",
                "id": "speed",
                "label": "Hastighed på slideren",
                "info": "Vælg hvor mange sekunder der skal være imellem slides",
                "min": 2000,
                "max": 9000,
                "default": 4000,
                "step": 500
            }
        ],
        "blocks": [
            {
                "type": "hero_slide",
                "name": "Hero slide",
                "settings": [
                    {
                        "type": "header",
                        "content": "Billede indstillinger",
                        "info": "Vælg baggrundsbillede på minimum 1280 px bred. Optimalt 1920px bred."
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Vælg baggrundsbillede"
                    },
                    {
                        "type": "checkbox",
                        "id": "show_overlay",
                        "label": "Vis overlay på billedet",
                        "default": false 
                    },
                    {
                        "type": "header",
                        "content": "Tekst indstillinger",
                        "info": "Vælg tekst, alignment og farve på tekst"
                    },
                    {
                        "type": "color",
                        "id": "text_color",
                        "label": "Farve på teksten",
                        "default": "#000000"
                    },
                    {
                        "type": "checkbox",
                        "id": "center_text",
                        "label": "Centrer text?",
                        "info": "Tryk på denne for at få teksten centreret i midten",
                        "default": false
                    },
                    {
                        "type": "text",
                        "id": "headline",
                        "label": "Hero overskrift"
                    },
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Hero tekstfelt"
                    },
                    {
                        "type": "url",
                        "id": "btn_link",
                        "label": "Link på knap"
                    },
                    {
                        "type": "text",
                        "id": "btn_text",
                        "label": "Tekst på knap"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Hero",
                "category": "Hero",
                "settings": {}
            }
        ]
    }
{% endschema %}