{%- assign desc = collection.description | split: '%%%' -%}
{% paginate collection.products by 20 %}

<div class="collection">
    <div class="collection__header container">
        <h1 class="collection__header__title">{{ collection.title }}</h1>
        <div class="collection__header__description top">
            {% if desc.size > 1 %}
                {{ desc[0] }}
            {% else %}
                {{ collection.description }}
            {% endif %}
        </div>
    </div>

    <div class="collection__toggle-sidebar-mobile container js-mobile-filter-toggle">
        Filter
    </div>

    <div class="collection__inner container">
        <div class="collection__sidebar js-sidebar">
            <div class="collection__sidebar__linklist-wrapper">
                {% section 'collection-sidebar' %}
            </div>
        </div>

        <div class="collection__main">
            <div class="collection__main__row">
                {% for product in collection.products %}
                    <div class="collection__main__row__item">
                        {% include 'product-card' %}
                    </div>
                {% endfor %}
            </div>
            {% if paginate.pages > 1 %}
                <div class="collection__pagination">
                    {{ paginate | default_pagination: next: 'Næste', previous: 'Forrige' }}
                </div>
            {% endif %}
        </div>
    </div>

    {% if desc.size > 1 %}
        <div class="container">
            <div class="collection__header__description bottom">
                {{ desc[1] }}
            </div>
        </div>
    {% endif %}
</div>

{% endpaginate %}