{% paginate search.results by 10 %}

<div class="search-result">
    <div class="container">
        {% if search.performed %}
        <div class="search-terms">Resultater for: "{{ search.terms }}"</div>
            <div class="grid">
                {% for item in search.results %}
                {% if item.available %}
                    <div class="grid-item">
                        <a href="{{ item.url }}">
                            {{ item | image_url | img_tag }}
                            <h5>{{ item.title }}</h5>
                            <p itemprop="price">{{ item.price | money_without_trailing_zeros }}</p>
                        </a>
                    </div>
                {% endif %}
                {% else %}
                    Ingen resultater for: "{{ search.terms }}"
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
{% endif %}

{% endpaginate %}
